.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url(https://i.im.ge/2023/06/07/hv5n6K.blog.gif);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 140vh;
     background-size: cover;
     background-position: center;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }