.imagem2{
    background-image: url("https://i.im.ge/2023/06/07/hvAS54.A-tecnologia-move-o-mundo.png");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 108vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}